/* Styles specific to the Contact Us Page */
.main-section {
    text-align: center;
    margin: 1.875rem 5.625rem;
    padding: 1.25rem;
    background-color: #fefcff;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.text {
    font-size: 1rem;
    color: #b59c5b;
    margin-bottom: 1.875rem;
}

/*  TODO:Contact Form */
.contact-form {
    margin: 0 auto 1.875rem;
    max-width: 37.5rem;
    text-align: left;
}

.title-form {
    display: block;
    font-weight: bold;
    margin-bottom: 0.3125rem;
    color: #a76d68;
}

#btn-form {
    width: 100%;
    padding: 0.625rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/*  TODO:Contact Information */
.contact-info {
    margin-top: 2.5rem;
    text-align: left;
}

.info {
    font-size: 1rem;
    color: #b59c5b;
    margin-bottom: 0.625rem;
}

.address {
    font-size: 1rem;
    color: #b59c5b;
    margin-bottom: 0.625rem;
}

/*ToDO:Media Queries
For small screen devices*/
@media (max-width: 768px) {
    .contact-form {
        max-width: 90%;
        text-align: center;
    }

    .contact-info {
        text-align: center;
        line-height: 1.6;
    }

    .social-media a {
        display: block;
        margin-bottom: 10px;
    }
}

/*For very small screen devices*/
@media (max-width: 480px) {
    .navbar .menu {
        display: block;
        text-align: center;
    }

    .footer {
        font-size: 0.8rem;
    }
}